* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"poppins",sans-serif
}
nav div ul{
    list-style: none;
    display:flex;
    gap:30px;
}
.navbar {
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    background-color:#1A1A27;
    border-radius:20px 3px 20px 3px;
    padding:10px;
    text-decoration:solid;
    color: #ffffff;
}
nav a:hover{
    color:#A39BFF;
    transition: 0.3s;
    font-size: 18px;;
    font-family: cursive;
    text-decoration: none;
}
#about {
    background-image: URL("1.png");
    background-repeat: no-repeat;
    background-size: cover;
}
body {
    background-color: #45328A;
}
h1 {
    text-align:right;
    margin-right: 300px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#A4B3B6;
}
p {
    text-align: right;
    margin-right: 100px;
    margin-right: 300px;
}